.header {
   @apply py-3 absolute top-0 left-0 right-0 w-full border-b bg-white;
}

.header__content {
   @apply max-w-screen-xl px-3 mx-auto flex flex-row justify-between items-center;
}

.header__input-search {
   @apply px-3 w-1/2
  py-1.5
  text-base
  font-normal
  text-gray-700
  bg-white bg-clip-padding
  border border-solid border-gray-300
  rounded
  transition
  ease-in-out
  m-0
  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

.header__link-login {
   @apply mr-2 underline text-blue-600 dark:text-blue-500 hover:cursor-pointer px-5 py-2.5 rounded-lg hover:bg-blue-100;
}

.header__link-create-account {
   @apply text-white
  bg-blue-700
  hover:bg-blue-800
  hover:cursor-pointer
  focus:ring-4
  focus:ring-blue-300
  font-medium
  rounded-lg
  text-sm
  px-5
  py-2.5
  mr-2
  dark:bg-blue-600
  dark:hover:bg-blue-700
  focus:outline-none
  dark:focus:ring-blue-800;
}
