<header class="header">
   <div class="header__content">
      <input class="header__input-search" type="search" placeholder="search post" />
      <div *ngIf="!isAuth">
         <a href="/signin" class="header__link-login">Sign in</a>
         <a href="/signup" class="header__link-create-account">Create Account</a>
      </div>
      <div *ngIf="isAuth" class="flex items-center hover:cursor-pointer">
         <a class="header__link-login" href="/new_post">Create Post</a>
         <div class="relative" (click)="toggleMenu()">
            <div
               *ngIf="!user.avatar"
               class="select-none flex justify-center bg-gray-500 w-10 h-10 rounded-full items-center text-white font-semibold mr-2"
               [ngClass]="isOpenMenu ? 'border-purple-500 border-4' : ''"
            >
               {{ user.username.slice(0, 2) | uppercase }}
            </div>
            <div *ngIf="user.avatar">
               <img [src]="user.avatar" class="w-10 h-10 rounded-full" alt="avatar" />
            </div>
            <!-- Dropdown menu -->
            <div
               *ngIf="isOpenMenu"
               id="userDropdown"
               class="z-10 absolute right-2 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
            >
               <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                  <div>{{ user.username }}</div>
                  <div class="font-medium truncate">{{ user.email }}</div>
               </div>
               <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                  <li>
                     <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                        >Dashboard</a
                     >
                  </li>
                  <li>
                     <a
                        href="settings"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                        >Settings</a
                     >
                  </li>
                  <li>
                     <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                        >Earnings</a
                     >
                  </li>
               </ul>
               <div class="py-1">
                  <a
                     (click)="logout()"
                     class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                     >Sign out</a
                  >
               </div>
            </div>
            <!-- Dropdown menu -->
         </div>
         <!--         <div class="w-10 h-10 bg-gray-100 rounded-full dark:bg-gray-600 mx-2">-->
         <!--            <svg-->
         <!--               class="w-10 h-9 text-gray-400"-->
         <!--               fill="currentColor"-->
         <!--               viewBox="0 0 20 20"-->
         <!--               xmlns="http://www.w3.org/2000/svg"-->
         <!--            >-->
         <!--               <path-->
         <!--                  fill-rule="evenodd"-->
         <!--                  d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"-->
         <!--                  clip-rule="evenodd"-->
         <!--               ></path>-->
         <!--            </svg>-->
         <!--         </div>-->
         <!--         <button (click)="logout()" class="header__link-create-account">Logout</button>-->
      </div>
   </div>
</header>
