.settings_container {
   @apply max-w-screen-xl px-3 mt-32;
}

.userinfo_container {
   @apply flex flex-col justify-between max-w-3xl mx-auto bg-white rounded-lg p-3;
}

.username_input {
   @apply bg-gray-50
   border
   border-gray-300
   outline-0
   text-gray-900
   text-sm
   rounded-lg
   focus:border-blue-600
   focus:ring-blue-500
   block
   w-full
   p-2.5
   dark:bg-gray-700
   dark:border-gray-600
   dark:placeholder-gray-400
   dark:text-white
   dark:focus:ring-blue-500
   dark:focus:border-blue-500;
}
